<!-- Modal -->
<html xmlns:th="http://www.thymeleaf.org">
<div id="modal_card" th:fragment="card">
  <h3 class="main-title">Mon panier</h3>
  <div class="relative px" style="max-height: calc(100% - 232px); overflow-y: auto;" id="containerCardProduct">
    <th:block th:each="elem : ${session.cart}">
      <div class="product no-float">
        <div class="product-body">
          <img  th:src="@{'/images/' + ${elem.item.image.getPath()}}" alt="">
          <span th:data="${elem.item.price}" th:utext="${elem.item.name} + '<b> ' + ${elem.quantity} +'</b>'"></span>
        </div>
        <!--<img src="img/delete.svg" alt="" class="delete-product" data="${loop.index}" onclick="card_delete(this)">-->
        <img src="img/delete.svg" alt="" class="delete-product" onclick="card_delete(this)" th:data="${elem.item.id}">
      </div>
      <hr>
    </th:block>
  </div>
  <h3 id="total_cart" class="main-title" style="text-align: right; margin: 0;" th:text="${'Total : ' + session.total + '€ TTC'}">Total :TTC</h3>
  <div class="relative px">
    <form method="POST" action="./orders" id="checkout" style="display: none;" th:object="${orderForm}"></form>
    <input class="form-control" style="width: calc(100% - 50px); margin-top: 25px;" type="text" value="" form="checkout" name="address" placeholder="Saisir l'adresse de livraison" required>
    <input class="btn" type="submit" form="checkout" value="Valider ma commande" style="width: 100%; border: none; margin-top: 10px;">
  </div>
</div>