<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{fragments/header :: head}"></div>
    <title>Créer mon compte</title>
</head>
<body>
<div th:replace="~{fragments/card :: card}"></div>
<div th:replace="~{fragments/header :: header}"></div>


<form class="form" th:action="@{/items/add}" th:object="${itemForm}" enctype="multipart/form-data" method="post">
    <div class="form-input-container">
        <label>Nom :</label>
        <input class="form-control form-full-w" type="text" placeholder="Jean" name="name">
    </div>
    <div class="form-input-container">
        <label>Quantité :</label>
        <input class="form-control form-full-w" type="number" placeholder="Jean" name="quantity">
    </div>
    <div class="form-input-container">
        <label>Prix</label>
        <input class="form-control form-full-w" type="number" placeholder="Jean" name="price">
    </div>
    <div class="form-input-container">
        <label>Catégorie</label>
        <input class="form-control form-full-w" type="text" placeholder="Dupont" name="category">
    </div>
    <div class="form-input-container">
        <label>Description</label>
        <input class="form-control form-full-w" type="text" placeholder="Jean" name="description">
    </div>
    <div class="form-input-container">
        <label>Image</label>
        <input type="file" name="file" class="form-control-file">
    </div>
    <span th:if="${err}">[[${err}]]</span>
    <input type="submit" class="btn" value="Créer mon compte">
</form>
</body>
</html>