<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{fragments/header :: head}"></div>
    <title>Vos commandes</title>
</head>
<body>
    <div th:replace="~{fragments/card :: card}"></div>
    <div th:replace="~{fragments/header :: header}"></div>
    
    <h1 class="main-title">Commandes a préparer</h1>
    <div class="relative px">
        <p th:if="${orderslist.empty}">Il n'y aucune commande pour le moment..</p>
        <th:block th:each="order : ${orderslist}">
            <div class="orders">
                <p class="orders-time">[[${order.datecreated}]] <span th:text="${order.status}">status</span></p>
                <p class="orders-id" th:text="${'N° ' + order.id + ' - ' + order.user.username}">name</p>
                <hr>
                <table>
                    <th:block th:each="orderitem : ${order.items}">
                        <tr>
                            <td th:text="${orderitem.item.name}">name</td>
                            <td th:text="${'x ' + orderitem.quantity}">quantity</td>
                        </tr>
                    </th:block>
                </table>
                <hr>
                <p class="orders-price">103€ ttc</p>

                <form th:action="@{'/orders/'" method="put">
                    <input type="submit" value="Annuler"/>
                    <input name="id" type="hidden" th:value="${order.id}">
                    <input name="status" type="hidden" value="ANNULEE">
                </form>
                <th:block sec:authorize="hasAuthority('OWNER')">
                    <form th:action="@{'/orders/' + ${order.user.id}}" method="put">
                        <input type="submit" value="Terminer" class="btn"/>
                    </form>
                </th:block>
            </div>
        </th:block>
    </div>
</body>
</html>