<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> name </th>
        <th> quantity  </th>
        <th> description </th>
        <th> price  </th>
        <th> category </th>
        <th> image  </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${items.empty}">
        <td colspan="2"> No product available </td>
    </tr>
    <tr th:each="item : ${items}">
        <td><span th:text="${item.name}">  name </span></td>
        <td><span th:text="${item.quantity}"> quantity </span></td>
        <td><span th:text="${item.description}">  description </span></td>
        <td><span th:text="${item.price}"> price </span></td>
        <td><span th:text="${item.category}">  category </span></td>
        <td><span th:text="${item.image}"> image </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>