<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{fragments/header :: head}"></div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:inline="javascript">

        function mapToDataSource(list) {
            console.log(list);
            let array = [];
            list.forEach(el => {
               array.push([el.name,el.nb]);
            });
            console.log(array);
            return array;
        }

        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages': ['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawColumnChart);
        google.charts.setOnLoadCallback(drawChart);
        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.

        function drawColumnChart() {
            if ([[${itemCategory}]].length > 0) {
                array = mapToDataSource([[${itemCategory}]]);
                var data = new google.visualization.DataTable();
                data.addColumn("string", "type d\'item");
                data.addColumn("number", "quantité");
                data.addRows(array);
                var options = {
                    'title': 'Répartitions des types d\'items',
                    'width': 900,
                    'height': 800
                };
                var chart = new google.visualization.ColumnChart(document.getElementById('bar_div'));
                chart.draw(data, options);
            }
        }

        function drawChart() {
            if ([[${nbStatus}]].length > 0) {
                array = mapToDataSource([[${nbStatus}]]);
                // Create the data table.
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Topping');
                data.addColumn('number', 'Slices');
                data.addRows(array);

                // Set chart options
                var options = {
                    'title': 'Répartition des commandes',
                    pieSliceText: 'label',
                    'width': 900,
                    'height': 800
                };

                // Instantiate and draw our chart, passing in some options.
                var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                chart.draw(data, options);
            }



        }
    </script>
    <title>Statistiques</title>
</head>
<body>
<div th:replace="~{fragments/card :: card}"></div>
<div th:replace="~{fragments/header :: header}"></div>
<div id="chart_div"></div>
<div id="bar_div"></div>
<!--
<th:block th:each="status : ${nbStatus}">
  <span th:text="${status.getStatus()}"/>
</th:block>-->
</body>
</html>